body {
  margin: 0;
  background-image: linear-gradient(to right, #e4e3e3, white);
  font-family: Sans-serif;
}
body.dark-theme {
  background-image: linear-gradient(to right, #2f2f2f, black);
  color: #f9f9f9d9;
}